[Unit]
Description=HuduGlue Gunicorn
After=network.target

[Service]
Type=notify
User=administrator
Group=administrator
WorkingDirectory=/home/huduglue
Environment="PATH=/opt/venv/bin"
EnvironmentFile=/app/.env
ExecStart=/opt/venv/bin/gunicorn \
    --workers 4 \
    --bind unix:/home/huduglue/gunicorn.sock \
    --timeout 120 \
    --access-logfile /var/log/itdocs/gunicorn-access.log \
    --error-logfile /var/log/itdocs/gunicorn-error.log \
    --log-level info \
    config.wsgi:application
ExecReload=/bin/kill -s HUP $MAINPID
KillMode=mixed
TimeoutStopSec=5
PrivateTmp=true

[Install]
WantedBy=multi-user.target
